
<%- include("partials/header") %> 


<h1>your name is <%= name %> </h1>

<% if(name.toLowerCase()==="jian"){ %>
    <p> You are Jian??</p>
    <% } %>
    
<p> just add something here lalala</p>

<%- include("partials/footer")%> 

