<%- include("partials/header") %> 

<h1>Post Page</h1>
<% for (let index = 0; index < posts.length; index++) {
    var title = posts[index]["title"];
    var author = posts[index]["author"];
%>
<li><%= author %> - <%= title %> </li>
<% } %>

<p>adding new content</p>


<%- include("partials/footer")%> 